.cabecalho__navegacao {
    align-items: center;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .cabecalho__navegacao {
        justify-content: space-between;
        width: 50vw;
    }
}

@media screen and (min-width: 1728px) {
    .cabecalho__navegacao {
        width: 45vw;
    }
}